@import '../../../utils.scss';

$input_inner_grey : #495057;
$input_border_grey : #999;

.gen-fav-inner > form{
    margin: 0 auto;
    padding: 1em;
    div + div{
        margin-top: 2em;
    }
    label{
        display: inline-block;
        width: auto;
        font-weight: 500;
        font-size: 1rem;
        text-align: right;
    }
    input, textarea{
        display: flex;
        background: $input_inner_grey;
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 300px;
        outline: none;
        border: 1px solid $input_border_grey;
        &:focus{
            border-color: black;
        }
        &.err{
            border: 1px solid red;
        }
        
    };
    span{
        position: absolute;
        color: red;
        font-weight: 500;
    }
    textarea{
        vertical-align: top;
        height: 5em;
        resize: vertical;
    };
    
    .btn-group{
        padding : 16px;
        display: flex;
        button{
            display: inline-flex;
            font-size: 1rem;
            box-shadow: 1px 4px 0 $button_shadow;
            font-weight: 600;
            outline: none;
            border: none;
            padding: 0.5em 1em;
            align-items: center;
            cursor: pointer;
            color: white;
            border-radius: 2rem;
            background: $basic_btn_beryline;
            margin: auto;
            &:active, &.active{
                background : $basic_btn_active;
                box-shadow: 1px 2px 0 $button_shadow;
                top : 2px;
                position : relative;
            }
        }
        
        button + button {
            margin-left : 8px;
        }
    }
}