@import './utils.scss';

$nav_back_dark_blue : #222f46;
$nav_text_grey : #9ba4a9;

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
body { 
    font-size: 14px; 
    background: $back_grey;
} 
#wrap{
    min-width: 1080px;
    overflow: hidden;
    background:$back_grey;
    #content-area{
        width: 1080px;
        height: 100%;
        margin: 15px auto 0;
    }
}
a{
    text-decoration: none;
    color: black;
}


.nav-bar { 
    background: $nav_back_dark_blue;
    margin: 0 auto; 
    padding: 12px;
    .tab { 
        display: flex; 
        justify-content: flex-start;
        li {
            list-style: none;
            padding: 5px;
            a { 
                font-size: 1.5rem; 
                color: $nav_text_grey; 
                font-weight: 500;
                &:hover{
                    color: white;
                } 
            }
        } 
    }
} 