$back_grey : #eaeaea;
$basic_btn_beryline : #28b3c9;
$basic_btn_active : #187988;
$button_shadow : #999999;
$checkbox_color : #db4f4f;
$input_inner_grey : #495057;
$input_border_grey : #999;
$alert_text_black : rgb(53, 53, 53);
